* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('https://images.unsplash.com/photo-1688141585146-1fb4a1358c87?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    height: 100%;
    /* overflow: hidden; */

}

.wrapper {
    
    padding: 2rem;
    margin: 10rem auto;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 20px;
    backdrop-filter: blur(70px);
    box-shadow: 10px 10px 50px 0px black;
}



.image-wrapper>img {
    height: 120px;
    border-radius: 3rem;
}


.text-wrapper {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}

.name {
    width: 100%;
    text-align: center;
    color: white;
}

.location {
    color: #6499E9;
    width: 100%;
    text-align: center;

}


.review-text {
    color: #9E9FA5;
    width: 100%;
    text-align: center;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.carousel-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #4682A9;
    font-weight: 900;
    font-size: 35px;
}

.carousel-buttons span{
    cursor: pointer;
} 


.random-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.random-button {
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 20px;
    border:none;
    background-color: #4A55A2;
    /* color: #7895CB; */
    color: #A0BFE0;
    font-size: large;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.random-button:hover{
    color: #4A55A2;
    /* color: #A0BFE0; */
    background-color: #6499E9;
}

@media screen and (max-width:768px) {
 body{
    border: 2px solid blue;
 }   

 .wrapper{
    flex-direction: column;
    width: 60%;
 }

}